<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }} by {{ page.author }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/scaffold.css">
        <link rel="stylesheet" href="/css/cellstories.css">

    </head>
    <body>
<div id="topbox">
<a href="/shelf" id="shelf"><span>story archive</span></a>
<a href="/" id="logo"><h1>cellstories: daily mobile fiction</h1></a>
<a href="/share" id="share"><span>share this story</span></a>
</div>
        <div id="cellbox">
          {{ content }}
        </div>    
        </body>
</html>
